$main-color: rgb(0, 195, 255);
$sub-color: violet;
$bg-color1: #cdfdf3;
$garyc: #ccc;
$choice1: yellow;
$choice2: rgb(255, 255, 168);

$mobile-mini: "(max-width: 400px)";
$mobile: "(max-width: 800px)";
$tablet: "(min-width:801px) and (max-width:1078px)";
$pc: "(min-width:1079px)";
